/* START Start Screen */
#start_screen {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
background-color:#5672b7;
}
/* ground */
#start_screen:before {
content:'';
display:block;
position:absolute;
left:0;
right:150px;
bottom:0;
height:80px;
background-image:url('../assets/interface/start_screen.png');
background-position:100% -740px;
background-repeat:no-repeat;
}
/* tree */
#start_screen:after {
content:'';
position:absolute;
right:0;
bottom:0;
width:500px;
height:740px;
max-width:50%;
background-image:url('../assets/interface/start_screen.png');
background-position:-1040px 0px;
}
.start_screen_content {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
margin:auto;
max-width:1070px;
max-height:600px;
}
.logo {
position:relative;
left:120px;
width:540px;
height:160px;
background-image:url('../assets/interface/start_screen.png');
background-position:-500px -160px;
}
#start_characters {
position:absolute;
left:-100%;
bottom:40px;
width:620px;
height:420px;
z-index:10;

transition:1s left ease;
-webkit-transition:1s left ease;
-moz-transition:1s left ease;
-ms-transition:1s left ease;
-o-transition:1s left ease;
}
#start_characters:after {
content:'';
display:block;
position:absolute;
left:0;
bottom:0;
width:620px;
height:420px;
background-image:url('../assets/interface/start_screen.png');
background-position:-420px -320px;
}
#start_characters.in {
left:10px;
}
#start_characters .start_characters_content {
display:block;
overflow:hidden;
position:relative;
left:100px;
top:350px;
width:480px;
height:0px;

font-family:Monaco,Menlo,monospace;
font-size:16px;
color:#ffffff;

transition:.4s top ease, .4s height ease;
-webkit-transition:.4s top ease, .4s height ease;
}
#start_characters.in.show .start_characters_content {
top:50px;
height:310px;
}
#start_characters.in.show.raise .character-menu,
#start_characters.in.show.raise table.character-table {
position:relative;
z-index:101;
}
.start_characters_content .character-menu{
display:block;
padding:0 10px;
height:60px;
line-height:60px;
font-size:28px;
}
.start_characters_content .character-table-shadow {
position:absolute;
top:60px;
right:0;
left:0;
bottom:0;
background:rgba(0,0,0,0.1);
}
.start_characters_content table.character-table {
overflow-x:hidden;
overflow-y:scroll;
width:440px;
max-height:220px;
text-align:left;
line-height:28px;
color:#ffffff;
border-collapse:collapse;
margin:10px 20px 0 20px;
cursor:default;
}
table.character-table tbody tr:active,
table.character-table tbody tr.active{
background:rgba(0,0,0,0.1);
}
table.character-table td,
table.character-table th {
padding:4px 16px;
}
table.character-table thead {
color:rgba(255,255,255,0.5);
font-size:14px;
}
table.character-table td:not(:first-child),
table.character-table th:not(:first-child) {
text-align:right;
}
.start_characters_content .character-ctrls {
display:none;
position:absolute;
left:0;
right:0;
bottom:0;
z-index:101;
height:34px;
padding:8px 24px;
margin-top:10px;
}
.start_characters_content .character-ctrls.show {
display:block;
}
.character-ctrls .char-ctrl {
height:28px;
line-height:26px;
width:100px;
border:3px solid #ffffff;
border-radius:5px;
background:#888888;
text-align:center;
cursor:default;

box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-ms-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
-o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
}
.character-ctrls .char-ctrl.delete-character {
float:left;
background:#aa6666;
}
.character-ctrls .char-ctrl.load-character {
float:right;
background:#66aa66;
}
.character-ctrls .char-ctrl.delete-character:active {
background:#884444;
border-color:#cccccc;
}
.character-ctrls .char-ctrl.load-character:active {
background:#448844;
border-color:#cccccc;
}
#add_char {
display:block;
position:relative;
width:60px;
height:60px;
float:right;
background-image:url('../assets/interface/ctrl-buttons.png');
background-size:auto 120px;
background-position:-270px 0px;
}
#add_char:active {
background-position-y:60px;
}
/* mobile styles start */
body.mobile #start_screen:before {
right:75px;
height:40px;
background-size:770px auto;
background-position:100% -370px;
}
body.mobile #start_screen:after {
width:200px;
height:370px;
background-size:770px auto;
background-position:-520px 0;
}
body.mobile .start_screen_content {
max-width:570px;
max-height:300px;
}
body.mobile .logo {
left:60px;
width:270px;
height:80px;
background-size:770px auto;
background-position:-250px -80px;
}
body.mobile #start_characters {
bottom:20px;
width:360px;
height:210px;
}
body.mobile #start_characters:after {
width:310px;
height:210px;
background-size:770px auto;
background-position:-210px -160px;
}
body.mobile #start_characters.in {
left:5px;
}
body.mobile #start_characters .start_characters_content {
left:50px;
top:175px;
width:310px;
font-size:12px;
}
body.mobile #start_characters.in.show .start_characters_content {
top:5px;
height:175px;
}
body.mobile .start_characters_content .character-menu{
padding:0 5px;
height:30px;
line-height:30px;
font-size:18px;
}
body.mobile .start_characters_content .character-table-shadow {
top:30px;
}
body.mobile .start_characters_content table.character-table {
width:290px;
max-height:110px;
line-height:18px;
margin:5px 10px 0 10px;
font-size:10px;
}
body.mobile table.character-table td,
body.mobile table.character-table th {
padding:2px 8px;
}
body.mobile table.character-table thead {
font-size:10px;
}
body.mobile .start_characters_content .character-ctrls {
height:26px;
padding:0px 12px;
font-size:12px;
bottom:2px;
}
body.mobile .character-ctrls .char-ctrl {
height:20px;
line-height:20px;
width:80px;
border-width:2px;
border-radius:3px;
}
body.mobile #add_char {
background-size:auto 80px;
background-position:-185px -5px;
width:30px;
height:30px;
}
body.mobile #add_char:active {
background-position-y:25px;
}
/* mobile styles ent */
/* END Start Screen */

/* START Player Stats */
#player-stats {
position:absolute;
left:10px;
top:10px;
width:200px;
padding:4px;
background:rgba(255,255,255,0.75);
}
#player-stats .p-stat {
display:block;
overflow:hidden;
position:relative;
line-height:24px;
height:24px;
margin-bottom:4px;
background:rgba(0,0,0,0.3);
font-family:Monaco,Menlo,monospace;
font-size:14px;
color:#ffffff;
}
#player-stats .p-stat:last-child {
margin-bottom:0;
}

/* Player Stats :: stats text */
#player-stats .p-stat[data-stat-alt]:before,
#player-stats .p-stat[data-stat]:after {
position:absolute;
left:0;
right:0;
height:100%;
text-align:center;

transition:.3s top ease;
-webkit-transition:.3s top ease;
-moz-transition:.3s top ease;
-ms-transition:.3s top ease;
-o-transition:.3s top ease;
}
#player-stats .p-stat[data-stat-alt]:before{
content:attr(data-stat-alt-prefix)" "attr(data-stat-alt);
top:-100%;
}
#player-stats .p-stat[data-stat]:after{
content:attr(data-stat-prefix)" "attr(data-stat);
top:0;
}
#player-stats .p-stat.alt[data-stat-alt]:before{ top:0; }
#player-stats .p-stat.alt[data-stat-alt]:after{ top:100%; }

#player-stats .p-stat .bar {
display:block;
height:inherit;
background:#444444;
}
#player-stats .p-stat.stat-lvl .bar {
background:#343842;
}
#player-stats .p-stat.stat-hp .bar {
background:#7f2222;
}
/* END Player Stats */

/* START Touch Controls */
#touch-ctrl {
display:none;
position:absolute;
bottom:0;
left:0;
right:0;
padding:10px;

transition:.3s bottom ease;
-webkit-transition:.3s bottom ease;
-moz-transition:.3s bottom ease;
-ms-transition:.3s bottom ease;
-o-transition:.3s bottom ease;
}
#touch-ctrl.show {
display:block;
}
#touch-ctrl.down {
bottom:-90px;
}
#touch-ctrl .ctrl {
float:left;margin:0 10px;width:40px;height:40px;
background-image:url(../assets/interface/ctrl-buttons.png);background-size:auto 80px;}
#touch-ctrl .ctrl:active {background-position-y:-40px;}
#touch-left-ctrl.ctrl {width:50px;background-position-x:0px;margin-right:0;}
#touch-right-ctrl.ctrl {width:50px;background-position-x:-50px;margin-left:0;}
#touch-up-ctrl.ctrl {background-position-x:-100px;}
/* END Touch Controls */

/* START Inventory */
#inventory_button {
display:block;
position:absolute;
top:10px;
right:10px;
width:40px;
height:40px;
background-image:url(../assets/interface/ctrl-buttons.png);
background-size:auto 80px;
background-position:-140px 0;
z-index:1001;
}
#inventory_button.active, #inventory_button:active {
background-position-y:-40px;
}
#inventory {
display:block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.5);
box-shadow: 0 0 5px rgba(0,0,0,0.5);
min-width: 200px;
max-width: 300px;
padding: 10px 20px;
font-family: Monaco, Menlo, monospace;
font-weight:300;
font-size:14px;
color:#bbbbbb;
cursor: default;
z-index: 1000;

transition:.2s right linear/*, .15s opacity ease*/;
-webkit-transition:.2s right linear/*, .15s opacity ease*/;
-moz-transition:.2s right linear/*, .15s opacity ease*/;
-ms-transition:.2s right linear/*, .15s opacity ease*/;
-o-transition:.2s right linear/*, .15s opacity ease*/;
}
#inventory ::selection {
background:rgba(0,0,0,0.4);
}
#inventory.hide {
display:none;
}
#inventory:not(.show) {
/*opacity:0;*/
right:-300px;
box-shadow:none;
}
#inventory:before {
display: block;
content: "Inventory";
line-height: 40px;
font-size:18px;
color:#ffffff;
margin-bottom:10px;
padding-left: 10px;
}
.inv_items {
max-height:calc( 100% - 60px );
overflow-y:scroll;
padding:10px 0;
}
.inv_items .item {
position:relative;
padding:8px;
padding-left:16px;

transition:.1s background ease;
-webkit-transition:.1s background ease;
-moz-transition:.1s background ease;
-ms-transition:.1s background ease;
-o-transition:.1s background ease;
}
.inv_items .item:active {
background:rgba(255,255,255,0.05);
}
.inv_items .item[data-equipped] {
color:#ffffff;
}
.inv_items .item[data-equipped]:before {
content:'';
display:inline-block;
position:absolute;
left:0;
top:0;
bottom:0;
margin:auto 0;
width:0;
height:0;
border-color:transparent;
border-style:solid;
border-width:4px;
border-left-color:rgba(255,255,255,0.75);
}
.inv_items .item[data-quantity]:before {
content:attr(data-quantity);
font-size:12px;
float:right;
color:#888888;
}
/* END Inventory */
