/* START Player Stats */
#player-stats {
position:absolute;
left:10px;
top:10px;
width:200px;
padding:4px;
background:rgba(255,255,255,0.75);
}
#player-stats .p-stat {
display:block;
overflow:hidden;
position:relative;
line-height:24px;
height:24px;
margin-bottom:4px;
background:rgba(0,0,0,0.3);
font-family:Monaco,Menlo,monospace;
font-size:14px;
color:#ffffff;
}
#player-stats .p-stat:last-child {
margin-bottom:0;
}

/* Player Stats :: stats text */
#player-stats .p-stat[data-stat-alt]:before,
#player-stats .p-stat[data-stat]:after {
position:absolute;
left:0;
right:0;
height:100%;
text-align:center;

transition:.3s top ease;
-webkit-transition:.3s top ease;
-moz-transition:.3s top ease;
-ms-transition:.3s top ease;
-o-transition:.3s top ease;
}
#player-stats .p-stat[data-stat-alt]:before{
content:attr(data-stat-alt-prefix)" "attr(data-stat-alt);
top:-100%;
}
#player-stats .p-stat[data-stat]:after{
content:attr(data-stat-prefix)" "attr(data-stat);
top:0;
}
#player-stats .p-stat.alt[data-stat-alt]:before{ top:0; }
#player-stats .p-stat.alt[data-stat-alt]:after{ top:100%; }

#player-stats .p-stat .bar {
display:block;
height:inherit;
background:#444444;
}
#player-stats .p-stat.stat-lvl .bar {
background:#343842;
}
#player-stats .p-stat.stat-hp .bar {
background:#7f2222;
}

/* mobile player stats *//*
body.mobile #player-stats {
width:140px;
padding:3px;
}
body.mobile #player-stats .p-stat {
font-size:12px;
line-height:22px;
height:22px;
margin-bottom:3px;
}
body.mobile #player-stats .p-stat:last-child {
margin-bottom:0;
}*/
/* END Player Stats */

/* START Touch Controls */
#touch-ctrl {
position:absolute;
bottom:0;
left:0;
right:0;
padding:10px;

transition:.3s bottom ease;
-webkit-transition:.3s bottom ease;
-moz-transition:.3s bottom ease;
-ms-transition:.3s bottom ease;
-o-transition:.3s bottom ease;
}
#touch-ctrl.down {
bottom:-90px;
}
#touch-ctrl .ctrl {
float:left;margin:0 10px;width:40px;height:40px;
background-image:url(../assets/interface/ctrl-buttons.png);background-size:auto 80px;}
#touch-ctrl .ctrl:active {background-position-y:-40px;}
#touch-left-ctrl.ctrl {width:50px;background-position-x:0px;margin-right:0;}
#touch-right-ctrl.ctrl {width:50px;background-position-x:-50px;margin-left:0;}
#touch-up-ctrl.ctrl {background-position-x:-100px;}
/* END Touch Controls */

/* START Inventory */
#inventory_button {
display:block;
position:absolute;
top:10px;
right:10px;
width:40px;
height:40px;
background-image:url(../assets/interface/ctrl-buttons.png);
background-size:auto 80px;
background-position:-140px 0;
z-index:1001;
}
#inventory_button.active, #inventory_button:active {
background-position-y:-40px;
}
#inventory {
display:block;
position: absolute;
top: 0;
right: 0;
bottom: 0;
background: rgba(0,0,0,0.5);
box-shadow: 0 0 5px rgba(0,0,0,0.5);
min-width: 200px;
max-width: 300px;
padding: 10px 20px;
font-family: Monaco, Menlo, monospace;
font-weight:300;
font-size:14px;
color:#bbbbbb;
cursor: default;
z-index: 1000;

transition:.2s right linear/*, .15s opacity ease*/;
-webkit-transition:.2s right linear/*, .15s opacity ease*/;
-moz-transition:.2s right linear/*, .15s opacity ease*/;
-ms-transition:.2s right linear/*, .15s opacity ease*/;
-o-transition:.2s right linear/*, .15s opacity ease*/;
}
#inventory ::selection {
background:rgba(0,0,0,0.4);
}
#inventory.hide {
display:none;
}
#inventory:not(.show) {
/*opacity:0;*/
right:-300px;
box-shadow:none;
}
#inventory:before {
display: block;
content: "Inventory";
line-height: 40px;
font-size:18px;
color:#ffffff;
margin-bottom:10px;
padding-left: 10px;
}
.inv_items {
max-height:calc( 100% - 60px );
overflow-y:scroll;
padding:10px 0;
}
.inv_items .item {
position:relative;
padding:8px;
padding-left:16px;

transition:.1s background ease;
-webkit-transition:.1s background ease;
-moz-transition:.1s background ease;
-ms-transition:.1s background ease;
-o-transition:.1s background ease;
}
.inv_items .item:active {
background:rgba(255,255,255,0.05);
}
.inv_items .item[data-equipped] {
color:#ffffff;
}
.inv_items .item[data-equipped]:before {
content:'';
display:inline-block;
position:absolute;
left:0;
top:0;
bottom:0;
margin:auto 0;
width:0;
height:0;
border-color:transparent;
border-style:solid;
border-width:4px;
border-left-color:rgba(255,255,255,0.75);
}
.inv_items .item[data-quantity]:before {
content:attr(data-quantity);
font-size:12px;
float:right;
color:#888888;
}
/* END Inventory */
